{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-console":"warn",
    "object-curly-newline":"warn"
  }
}

// https://eslint.org/docs/latest/rules/no-underscore-dangle#options
/*eslint no-underscore-dangle: ["error", { "allow": ["foo_", "_bar"] }]*/
